
<p-messages [(value)]="msgs" [style]="{'width': '25%', 'margin-left': '75%'}"></p-messages>

<div class="container">
    <div class="vertical-center">

    <p-card header="Sign In" [style]="{width: '500px'}">
    <hr>
  
    <form [formGroup]="form" (submit)="onLogin()" >
  <div class="form">
    <h3 class="first">User Name</h3>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input type="text" formControlName="email" placeholder="Email">
              <!-- <p-message *ngIf="form.get('email').invalid&&form.get('email').dirty" severity="error" text="Field is required" ></p-message>     -->
          </div>
      </div>
    </div>

    <h3 class="first">Password</h3>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input type="password" formControlName="password" placeholder="Password">
            <!-- <p-message *ngIf="form.get( 'password').invalid&&form.get('password').dirty" severity="error" text="Field is required" ></p-message>                             -->
          </div>
      </div>
    </div>
  </div>

    <br>
      <div align="right">
      <!-- <button pButton (click)="onLogin()" type="submit" label="Login" class="ui-button-raised ui-button-secondary " ></button> -->
      <button pButton type="button" label="Login" class="ui-button-rounded" (click)="onLogin()"></button>

      </div>


    </form >

    </p-card>

    </div>
    </div>


