<app-side-bar></app-side-bar>
<div class="breadCrumb">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>
<div class="requestDetails">
  <h1 style="text-align:center">Loan Request Details</h1>
  <div style="margin-left:200px; margin-right: 200px; margin-top: 100px;">
    <p-card>
      <div *ngFor="let request of requests" style="text-align:center">
        <div *ngIf="request.rid == reqid">
          <h3>Name: {{ request.name }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>NIC: {{ request.nic }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Address: {{ request.address }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Contact: {{ request.contact }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Age: {{ request.age }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Occupation: {{ request.job }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Support Documents: None</h3>
        </div>
        <div *ngIf="request.rid == reqid">
          <h3>Loan Ammount: Rs.{{ request.ammount }}</h3>
        </div>
        <div *ngIf="request.rid == reqid">
            <h3>Loan Duration: {{ request.duration }}</h3>
          </div>
        <div *ngIf="request.rid == reqid && request.declined==1">
          <h3>Reason: {{ request.reason }}</h3>
        </div>
        <div *ngIf="request.rid == reqid && request.pending == 1">
          <button
            (click)="clickAccept(request)"
            style="padding:3px; margin: 10px; font-size: 15px"
            pButton
            type="button"
            class="ui-button-success"
          >
            <b>Accept</b>
          </button>
          <button
            style="padding:3px; font-size: 15px"
            pButton
            type="button"
            class="ui-button-danger"
            (click)="clickDecline(request)"
          >
            <b>Decline</b>
          </button>
        </div>

        <div *ngIf="request.rid == reqid && request.pending == 0">
          <p
            *ngIf="request.rid == reqid && request.accepted == 1"
            style="padding:3px; margin: 10px; font-size: 20px; color:green"
          >
            <b>Accepted</b>
          </p>
          <p
            *ngIf="request.rid == reqid && request.declined == 1"
            style="padding:3px; font-size: 20px; color:red"
          >
            <b>Declined</b>
          </p>
        </div>
      </div>
    </p-card>
  </div>
</div>