<div class="sidebar">
    <p-sidebar [visible]="true"   [showCloseIcon]="false" [baseZIndex]= "10000"  [modal]="false" [style]="{'padding-left': '0px', 'padding-right': '0px', 'background-color': '#f2f2f2'}">
        <div class="admin" *ngIf="adminRole">
            <p-panelMenu [model]="admin"  ></p-panelMenu>
            <button pButton type="button" label="logout" class="ui-button-rounded" (click)="logout()"></button>
        </div>
        <div class="officer" *ngIf="officerRole">
            <p-panelMenu [model]="officer" ></p-panelMenu>
            <button pButton type="button" label="logout" class="ui-button-rounded" (click)="logout()"></button>
        </div>
      </p-sidebar>

</div>

