<app-side-bar></app-side-bar>
<div class="loanType">
  <div class="col-md-12">
    <p-card>
        <p-header>
            <b>Loan Request form</b>
        </p-header>
        <div class="container">
            <form [formGroup]="loanTypeForm">
              <div class="row">
                <div class="col-md-6">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="10" pInputText formControlName="type" class="formInput">
                    <label for="a-input">First name</label>
                    <!--  <p-message *ngIf="loanTypeForm.get('type').invalid" severity="error" text="Field is required"></p-message> -->
                </span>
              </div>
              <div class="col-md-6">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="10" pInputText formControlName="rate" class="formInput">
                    <label for="float-input">Last name</label>
                </span>
              </div>
              </div>

                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText formControlName="type" class="formInput">
                    <label for="a-input">NIC</label>
                    <!--  <p-message *ngIf="loanTypeForm.get('type').invalid" severity="error" text="Field is required"></p-message> -->
                </span>

                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText formControlName="rate" class="formInput">
                    <label for="float-input">Date of birth</label>
                </span>
            </form>
            <div class="btn">
                <button pButton type="button" label="submit" class="ui-button-rounded" (click)="onSubmit()" [disabled]="loanTypeForm.invalid"></button>
                <button pButton type="button" label=" cancel " class="ui-button-rounded ui-button-danger" (click)="onCancel()"></button>
            </div>
        </div>

        <p-footer></p-footer>
    </p-card>
    <p-card>
        <p-header>
            <b>document uploder</b>
        </p-header>
        <div class="container">
            <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
        </div>
      </p-card>
    </div>
</div>

