
<p-sidebar [visible]="sidebarVisible" [baseZIndex]="10000" [showCloseIcon]="false" [modal]="false">
    <div class="img" >
        <img src="https://image.flaticon.com/icons/svg/149/149071.svg"  >
    </div>
    <div *ngIf=adminRole>
        <h1 style="font-weight:normal">Admin Dashbord</h1>
    </div>
    <div *ngIf=officerRole>
        <h1 style="font-weight:normal">Officer Dashbord</h1>
    </div>
    
    <div class="admin" *ngIf="adminRole">
        <p-panelMenu [model]="admin"></p-panelMenu>
        <button pButton type="button" label="logout" class="ui-button-rounded" (click)="logout()"></button>
    </div>
    <div class="officer" *ngIf="officerRole">
        <p-panelMenu [model]="officer"></p-panelMenu>
        <button pButton type="button" label="logout" class="ui-button-rounded" (click)="logout()"></button>
    </div>
</p-sidebar>

<!-- <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button> -->