<app-side-bar></app-side-bar>
<div class="wsize">
  <p-table [value]="requests">
    <ng-template pTemplate="header">
      <tr>
        <th>NIC</th>
        <th>Name</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-req>
      <tr>
        <td *ngIf="req.pending == 1">{{req.nic}}</td>
        <td *ngIf="req.pending == 1">{{req.name}}</td>
        <td *ngIf="req.pending == 1">
          <p-button label="Click" (onClick)="handleClick(req.rid)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
